<!-- Default home page -->

<div class="default-page">
    <div class="header clearfix">
        <div class="logo glyphicon glyphicon-home pull-left"></div>
        <div class="headtext pull-left">
            <h3 id="main-title" class="container">Black House Solutions presents ...</h3>
            <h1 class="container">gooseMyJSON</h1>
            <h4 class="container">Convert JSON APIs into mongoose models at the click of button</h4>
        </div>
    </div>
    <div class="main container clearfix">
        <div class="jumbotron">
            <div class="form-group clearfix">
                <label for="url" class="inner">URL:</label>
                <div class="btn-group col-sm-12">
                    <input value="" type="text" class="btn text-left col-sm-10" id="url" placeholder="http://someserver:port/api/endpoint"/>
                    <button id="getdata" class="btn btn btn-success col-sm-2">Get Data</button>
                </div>
            </div>
            <div id="message"></div>
            <div class="results">
            </div>
        </div>
    </div>
</div>

